<footer class="row">

  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Uptown Vocal {{ site.time | date: "%Y" }}</p>
      </div>
    </div>
  </div>
  
</footer>

<script src="{{ site.jsurl }}/vendor/jquery.js"></script>
<script src="{{ site.jsurl }}/foundation/foundation.js"></script>
<script src="{{ site.jsurl }}/foundation/foundation.equalizer.js"></script>

<script type="text/javascript" src="{{ site.jsurl }}/slick/slick.min.js"></script>

<script>
$(document).foundation();
</script>

 <script>
$(document).ready(function(){
  $('.slider').slick({
    autoplay: true,
    autoplaySpeed: 7000,
    dots: true,    
    speed: 2000,
    fade: true,
  });
});
</script>
