<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>

          {% for page in site.pages %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>          
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</footer>