<footer class="row">

  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Uptown Vocal {{ site.time | date: "%Y" }}</p>
      </div>
    </div>
  </div>
  
</footer>

<script src="{{ site.jsurl }}/vendor/jquery.js"></script>
<script src="{{ site.jsurl }}/foundation/foundation.js"></script>
<script src="{{ site.jsurl }}/foundation/foundation.equalizer.js"></script>
<script src="{{ site.jsurl }}/foundation/foundation.orbit.js"></script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.jsurl }}/slick/slick.min.js"></script>

<script>
// $(document).foundation();

$(document).ready(function(){
	$('.slider').slick({
		autoplay: true,
		autoplaySpeed: 5000,
		speed: 2000,
		fade: true,
	});
});
</script>