<header class="site-header">

  <div class="row">
    <div class="large-4 columns">
      <h1><img style="max-height: 99px;" src="{{ site.imgurl }}/logo.png"></h1>
    </div>
    <div class="large-8 columns">
      <ul class="button-group right">
        <li><a href="{{ site.baseurl }}/"        
          {% if page.title == 'Home' %}
          class="current-tab cuprum dark button">HOME
          {% else %}
          class="cuprum dark button">home
          {% endif %}
          </a></li>
        <li><a href="{{ site.baseurl }}/music"
          {% if page.title == 'Music' %}
          class="current-tab cuprum dark button">MUSIC
          {% else %}
          class="cuprum dark button">music
          {% endif %}
          </a></li>
        <li><a href="{{ site.baseurl }}/members" 
         {% if page.title == 'Members' %}
         class="current-tab cuprum dark button">MEMBERS
         {% else %}
         class="cuprum dark button">members
         {% endif %}
         </a></li>
        <li><a href="{{ site.baseurl }}/about"   
         {% if page.title == 'About' %}
         class="current-tab cuprum dark button">ABOUT
         {% else %}
         class="cuprum dark button">about
         {% endif %}
         </a></li>
        <li><a href="{{ site.baseurl }}/contact" 
         {% if page.title == 'Contact' %}
         class="current-tab cuprum dark button">CONTACT
         {% else %}
         class="cuprum dark button">contact
         {% endif %}
         </a></li>    
      </ul>
    </div>
  </div>

</header>