<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if page.title == 'Home' %}
  <title>Uptown Vocal - Columbia University's Premier Jazz Acappella Group</title>
  {% else %}
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  {% endif %}
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="{{ site.imgurl }}/favicon.ico">
  <link rel="shortcut icon" href="{{ site.imgurl }}/favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ site.imgurl }}/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/foundation.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

  <!-- Slick Slider -->
  <link rel="stylesheet" type="text/css" href="{{ site.jsurl }}/slick/slick.css"/>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans|Bitter:400,700' rel='stylesheet' type='text/css'>

</head>