body {
  background: url("/assets/img/lined-background4.png") repeat 0 0 transparent;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.cuprum {
  font-family: 'Cuprum', sans-serif; 
  letter-spacing: 2px
}

.site-header {
  margin: 0 0 34px 0;
  background-color: white;
  border-bottom: 5px solid rgb(0,150,255);
  margin-bottom: 0;
}

.logo-img {
  text-align: center;
  padding-bottom: 8px;
}

.wide {
  background-color: rgba(0, 0, 0, 0.8);
}

.blurb {
  padding: 10px 40px;
  font-size: 1.1rem;  
} 

.event {
  padding-bottom: 32px;
}

.event-header {
  background-color: rgb(249,169,49);
  padding-left: 18px;
  padding-right: 18px;

  -webkit-border-top-left-radius: 16px;
  -webkit-border-top-right-radius: 16px;
  -moz-border-radius-topleft: 16px;
  -moz-border-radius-topright: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  border-bottom: solid rgb(50,50,50) 3px;
}

.event-header h1, h4 {
  color: white;
  margin: 0;
}

.event-header h4 {
  padding-left: 38px;
  font-size: 1rem;
  padding-bottom: 4px;
}

.event-body {
  background-color: white;
  padding: 12px 18px 2px 18px;
  -webkit-border-bottom-right-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -moz-border-radius-bottomright: 16px;
  -moz-border-radius-bottomleft: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;  
}

.no-border-video {
  padding-bottom: 53%;
  margin-bottom: 0;
}

.inner-shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.top-links {
  font-size: 1.6rem;
}

.center-nav {
  padding-top: 38px;
}

.dark {
  background-color: rgb(24,105,177);
}

.dark:hover {
  background-color: rgb(0,150,255);
}

.current-tab {
  background-color: rgb(255,150,0);  
  height: 58px;

  -webkit-box-shadow: 1px 0px rgb(200,100,0), 0px 1px rgb(127,75,0),
  2px 1px rgb(200,100,0), 1px 2px rgb(127,75,0),
  3px 2px rgb(200,100,0), 2px 3px rgb(127,75,0),
  4px 3px rgb(200,100,0), 3px 4px rgb(127,75,0),
  5px 4px rgb(200,100,0), 4px 5px rgb(127,75,0),
  6px 5px rgb(200,100,0), 5px 6px rgb(127,75,0); 

  -moz-box-shadow: 1px 0px rgb(200,100,0), 0px 1px rgb(127,75,0),
  2px 1px rgb(200,100,0), 1px 2px rgb(127,75,0),
  3px 2px rgb(200,100,0), 2px 3px rgb(127,75,0),
  4px 3px rgb(200,100,0), 3px 4px rgb(127,75,0),
  5px 4px rgb(200,100,0), 4px 5px rgb(127,75,0),
  6px 5px rgb(200,100,0), 5px 6px rgb(127,75,0); 

  box-shadow: 1px 0px rgb(200,100,0), 0px 1px rgb(127,75,0),
  2px 1px rgb(200,100,0), 1px 2px rgb(127,75,0),
  3px 2px rgb(200,100,0), 2px 3px rgb(127,75,0),
  4px 3px rgb(200,100,0), 3px 4px rgb(127,75,0),
  5px 4px rgb(200,100,0), 4px 5px rgb(127,75,0),
  6px 5px rgb(200,100,0), 5px 6px rgb(127,75,0);  

}

.current-tab:hover {
  background-color: rgb(255,165,40);
}

.navbutton {
  background-color: rgb(87,134,193);

  -webkit-box-shadow: 1px 0px rgb(58,88,127), 0px 1px rgb(65,113,174),
  2px 1px rgb(58,88,127), 1px 2px rgb(65,113,174),
  3px 2px rgb(58,88,127), 2px 3px rgb(65,113,174),
  4px 3px rgb(58,88,127), 3px 4px rgb(65,113,174),
  5px 4px rgb(58,88,127), 4px 5px rgb(65,113,174),
  6px 5px rgb(58,88,127), 5px 6px rgb(65,113,174);

  -moz-box-shadow: 1px 0px rgb(58,88,127), 0px 1px rgb(65,113,174),
  2px 1px rgb(58,88,127), 1px 2px rgb(65,113,174),
  3px 2px rgb(58,88,127), 2px 3px rgb(65,113,174),
  4px 3px rgb(58,88,127), 3px 4px rgb(65,113,174),
  5px 4px rgb(58,88,127), 4px 5px rgb(65,113,174),
  6px 5px rgb(58,88,127), 5px 6px rgb(65,113,174);

  box-shadow: 1px 0px rgb(58,88,127), 0px 1px rgb(65,113,174),
  2px 1px rgb(58,88,127), 1px 2px rgb(65,113,174),
  3px 2px rgb(58,88,127), 2px 3px rgb(65,113,174),
  4px 3px rgb(58,88,127), 3px 4px rgb(65,113,174),
  5px 4px rgb(58,88,127), 4px 5px rgb(65,113,174),
  6px 5px rgb(58,88,127), 5px 6px rgb(65,113,174);              
}

.navbutton:hover {
  background-color: rgb(100,145,200);
}

@media only screen and (max-width: 640px) {
  .current-tab, .navbutton {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .8rem;
    letter-spacing: 1px;
  }

  .no-border-video {
    padding-bottom: 49%;
  }

}