.top-nav {
	font-family: 'Cuprum', sans-serif; 
	letter-spacing: 2px
}

.site-header {
	margin: 0 0 34px 0;
	height: 130px;
	background-color: white;
	border-bottom: 5px solid blue;
}

body {
	background: url("/assets/img/lined-background.png") repeat 0 0 transparent;
}